# Project place file
/AMM.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

#UI Stories
/src/shared/stories

#Network Build
/src/shared/Remotes/ServerRemotes.luau
/src/shared/Remotes/ClientRemotes.luau

#libs
/wally.lock
/Packages
/ServerPackages

#other
/sourcemap.json