# Project place file
/AMM.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

#UI
/src/client/UI/stories

#Network Build
/src/client/clientNet.luau
/src/server/serverNet.luau

#libs
/wally.lock
/Packages
/ServerPackages
